@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin-top: 30px;
}
.header-portion{
    width: 80%;
    margin: 0 auto;
    
}
  
.navigation{
    width: auto;
    display: flex;
   
    justify-content: space-between;
}
.menu{

}

.nav-links{
display: flex;
gap: 3rem;
}
 
.items{
    display: flex;
    gap: 3rem;

  }
.nav-items{
list-style-type:none;
}

.nav-link{
text-decoration: none;
font-size: 1.5rem;
color: black;
}

/* shared-style */
.color{
    color: #E95A08;
}
.text-gray{
    color: rgba(0, 0, 0, 0.5);
}
.text-gray2{
    color: #8987A1;
}

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.banner{
    width: 100%;
     margin-top:282px;
     display: flex;
    
      
}

.banner-sizing{
   width: 100%;
}
.banner-title{
     font-size: 5rem;
     font-weight: 600;
    
}
.banner-des{
   width: 40%;
   font-size: 22px;
}
.banner img{
    width: 50%;
}

@media screen and (max-width:576px) {
 
    body{
      

    }
    .header-portion{
        width: 95%;
    }
    .navigation{
       
         
        
    }
    .items{
        display: none;
    }
 
    .banner{
        margin-top:4rem ;
        flex-direction:column-reverse;
       
    }
    .banner-title{
          font-size:2rem;
    }
    .banner-des{
          width: 100%;
          
    }
    .banner img{
        width: 100%;
    }
}